///* ========================================================================
//   #Global distance variables
//   ======================================================================== */

// SHARED MAIN COL LAYOUT
$main-col-width-md-lg: 600px;
$main-col-width-md: 500px;
$main-col-width-md-sm: 350px;
$main-col-width-sm: 350px;